{js:artTemplate}
{set:$top_name = "购物车"}
<div class="body_page_box">
    
    {if:$this->goodsList}
	<div id="cart_prompt" class="cart_prompt f14 t_l" style="display:none">
		<p class="m_10 gray"><b class="orange">恭喜，</b>您的订单已经满足了以下优惠活动！</p>
	</div>

	<!--促销规则模板-->
	<script type="text/html" id="promotionTemplate">
		<p class="indent blue"><%=item['plan']%>，<%=item['info']%></p>
	</script>

    <div class="list-group">
    {foreach:items = $this->goodsList}
    <div class="list-group-item">
        <div class="media">
            <div class="media-left media-middle"><img class="lazyload" src="{url:/pic/thumb/img/$item[img]/w/70/h/70}" alt="{$item['name']}" title="{$item['name']}" /></div>
            <div class="media-body">
                <h4 class="media-heading"><a href="{url:/site/products/id/$item[goods_id]}">{$item['name']}</a></h4>
                {if:isset($item['spec_array'])}
                <p style="padding-bottom:5px;">
                {set:$spec_array=Block::show_spec($item['spec_array']);}
                {foreach:items=$spec_array item=$specValue key=$specName}
                    {$specName}：{$specValue} &nbsp&nbsp
                {/foreach}
                </p>
                {/if}
                <p style="color:#999; padding-bottom:5px;">赠送积分：{$item['point']}</p>
                <p class="lyred" style="padding-bottom:10px;">小计：<b id="sum_{$item['goods_id']}_{$item['product_id']}">￥{$item['sum']}</b></p>
            </div>
        </div>
        <div class="cart_bottom">
            <div class="pull-left" style="width:110px; padding:10px 0 0 10px;">
                {set:$item_json = JSON::encode($item)}
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><a href="javascript:void(0)" onclick='cart_reduce({$item_json});'>-</a></span>
                    <input type="text" class="form-control" style="text-align:center;" value="{$item['count']}" onchange='cartCount({$item_json});' id="count_{$item['goods_id']}_{$item['product_id']}">
                    <span class="input-group-addon"><a href="javascript:void(0)" onclick='cart_increase({$item_json});'>+</a></span>
                </div>
            </div>
            <div class="pull-right">
                <a class="item_json" href='javascript:removeCartByJSON({$item_json});'>删除</a>
            </div>
        </div>
    </div>
    {/foreach}
    </div>
    
    <div class="proReduce">
        <span>商品总重量：<b id='weight'>{$this->weight}</b>g</span><span>商品总金额：￥<b id='origin_price'>{$this->sum}</b> - 商品优惠：￥<b id='discount_price'>{$this->reduce}</b> - 促销活动优惠：￥<b id='promotion_price'>{$this->proReduce}</b></span>
    </div>
    <div class="final_sum"><i>￥</i><b id='sum_price'>{$this->final_sum}</b><span>金额总计（不含运费）</span></div>
    
    <div class="form-group has-feedback">
        <a class="btn btn-warning btn-lg btn-block" href="{url:/simple/cart2}">去结算</a>
    </div>
    
    <div class="form-group has-feedback">
        <a href="javascript:void(0);" onclick="delModel({msg:'确定要清空购物车么？',link:'{url:/simple/clearCart}'});" class="btn b-danger btn-lg btn-block">清空购物车</a>
    </div>
    {else:}
    <div class="ly_row">
        <span class="cart-ok"><i class="iconfont">&#xe629;</i></span>
        <h2 class="y">对不起，购物车中没有产品！</h2>
        <div class="form-group has-feedback">
            <a class="btn b-danger btn-sm" href="javascript:void(0)" onclick="window.history.go(-1);">继续购物</a>
        </div>
    </div>
    {/if}
</div>

<script type='text/javascript'>
jQuery(function(){
	{if:$this->promotion}
	{foreach:items = $this->promotion}
	$('#cart_prompt').append( template.render('promotionTemplate',{"item":{echo:JSON::encode($item)}}) );
	{/foreach}
	$('#cart_prompt').show();
	{/if}
});
//购物车数量改动计算
function cartCount(obj)
{
	var countInput = $('#count_'+obj.goods_id+'_'+obj.product_id);
	var countInputVal = parseInt(countInput.val());
	var oldNum = countInput.data('oldNum') ? countInput.data('oldNum') : obj.count;

	//商品数量大于1件
	if(isNaN(countInputVal) || (countInputVal <= 0))
	{
		alert('购买的数量必须大于1件');
		countInput.val(1);
		countInput.change();
	}
	//商品数量小于库存量
	else if(countInputVal > parseInt(obj.store_nums))
	{
		alert('购买的数量不能大于此商品的库存量');
		countInput.val(parseInt(obj.store_nums));
		countInput.change();
	}
	else
	{
		var diff = parseInt(countInputVal) - parseInt(oldNum);
		if(diff == 0)
		{
			return;
		}

		var goods_id   = obj.product_id > 0 ? obj.product_id : obj.goods_id;
		var goods_type = obj.product_id > 0 ? "product"      : "goods";

		//更新购物车中此商品的数量
		$.getJSON("{url:/simple/joinCart}",{"goods_id":goods_id,"type":goods_type,"goods_num":diff,"random":Math.random()},function(content){
			if(content.isError == true)
			{
				alert(content.message);
				countInput.val(1);
				countInput.change();
			}
			else
			{
				var goodsId   = [];
				var productId = [];
				var num       = [];
				$('[id^="count_"]').each(function(i)
				{
					var idValue = $(this).attr('id');
					var dataArray = idValue.split("_");

					goodsId.push(dataArray[1]);
					productId.push(dataArray[2]);
					num.push(this.value);
				});
				countInput.data('oldNum',countInputVal);
				$.getJSON("{url:/simple/promotionRuleAjax}",{"goodsId":goodsId,"productId":productId,"num":num,"random":Math.random()},function(content){
					if(content.promotion.length > 0)
					{
						$('#cart_prompt .indent').remove();

						for(var i = 0;i < content.promotion.length; i++)
						{
							$('#cart_prompt').append( template.render('promotionTemplate',{"item":content.promotion[i]}) );
						}
						$('#cart_prompt').show();
					}
					else
					{
						$('#cart_prompt .indent').remove();
						$('#cart_prompt').hide();
					}

					/*开始更新数据*/
					$('#weight').html(content.weight);
					$('#origin_price').html(content.sum);
					$('#discount_price').html(content.reduce);
					$('#promotion_price').html(content.proReduce);
					$('#sum_price').html(content.final_sum);
					$('#sum_'+obj.goods_id+'_'+obj.product_id).html((obj.sell_price * countInputVal).toFixed(2));
				});
			}
		});
	}
}

//增加商品数量
function cart_increase(obj)
{
	//库存超量检查
	var countInput = $('#count_'+obj.goods_id+'_'+obj.product_id);
	if(parseInt(countInput.val()) + 1 > parseInt(obj.store_nums))
	{
		alert('购买的数量大于此商品的库存量');
	}
	else
	{
		countInput.val(parseInt(countInput.val()) + 1);
		countInput.change();
	}
}

//减少商品数量
function cart_reduce(obj)
{
	//库存超量检查
	var countInput = $('#count_'+obj.goods_id+'_'+obj.product_id);
	if(parseInt(countInput.val()) - 1 <= 0)
	{
		alert('购买的数量必须大于1件');
	}
	else
	{
		countInput.val(parseInt(countInput.val()) - 1);
		countInput.change();
	}
}

//移除购物车
function removeCartByJSON(obj)
{
	var goods_id   = obj.product_id > 0 ? obj.product_id : obj.goods_id;
	var goods_type = obj.product_id > 0 ? "product"      : "goods";
	$.getJSON("{url:/simple/removeCart}",{"goods_id":goods_id,"type":goods_type,"random":Math.random()},function()
	{
		window.location.reload();
	});
}
</script>