{set:$top_name = "修改密码"}

<div class="body_page_box">
    <form action='{url:/ucenter/password_edit}' method='post'>
    <div class="form-group has-feedback">
        <label class="control-label">原有密码</label>
        <input type="password" class="form-control" name="fpassword" pattern='required' alt='请输入原有密码'/>
    </div>
    
    <div class="form-group has-feedback">
        <label class="control-label">新密码</label>
        <input type="password" class="form-control" name="password" pattern='^\w{6,32}$' alt='密码由英文字母、数字组成，长度6-32位' bind='repassword'/>
    </div>
    
    <div class="form-group has-feedback">
        <label class="control-label">请再次输入新密码</label>
        <input type="password" class="form-control" name="repassword" pattern='^\w{6,32}$' alt='密码由英文字母、数字组成，长度6-32位' bind='password'/>
    </div>
    
    <div class="form-group has-feedback">
    <input class="btn btn-warning btn-lg btn-block" type="submit" value="修改密码" />
    </div>
    </form>
</div>